/bin
/tmp

# Locally built service binaries
/deps/gateway/gateway
/deps/delivery/delivery
/deps/**/go.mod

.env
.env.local

/data
!/data/.keep

/data/storage
!/data/storage/.keep

*.sock

schema.json
